:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Reponsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.grid-content {
    padding-top: 36px;
}

.grid-column-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: 16.6667%;
}

.grid-column-2-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
}

.grid-column-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 83.3334%;
}

/* Animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes growth {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
    position: relative;
    margin: auto;
    background-color: #fff;
    z-index: 1;
    animation: growth ease-in 0.2s;
}

/* Button */

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 34px;
}

.btn.btn-back.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-signIn {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.modal-form-button {
    display: flex;
    justify-content: flex-end;
}

.btn-disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.btn-back {
    margin-right: 8px;
}

.modal-form-button {
    margin-top: 70px;
}

.btn.btn-withicon {
    height: 36px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* Selection */

.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    min-width: 200px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input:hover .select-input-list {
    display: block;
    z-index: 1;
}

.select-input-label {
    font-size: 1.4rem;
}

.select-input-icon {
    font-size: 1.6rem;
    color: #333;
    position: relative;
    top: 1px;
}

.select-input-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: #fff;
    padding: 8px 16px;
    list-style: none;
    display: none;
}

.select-input-item-link {
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input-item-link:hover {
    color: #ee4d2d;
}

.product-item-action-rated {
    color: #ffce3e;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-items {
    margin: 0 12px;
}

.pagination-items-current .pagination-items-link {
    background-color: #ee4d2d;
    color: #fff;
    border-radius: 2px;
}

.pagination-items-current .pagination-items-link:hover {
    background-color: #ed5c3f;
}

.pagination-items-link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
}

.pagination-items-icon {

}