.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header .header-navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar .navbar-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 6px;
}

.navbar-list .navbar-items {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
}

.navbar-items-hasqr:hover .navbar-items-qrcode {
    display: block;
}

.navbar-items-hasNoti:hover .item-noti {
    display: block;
    z-index: 1;
}

.navbar-items,
.item-links,
.icon-links {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-items:hover,
.item-links:hover,
.icon-links-mod:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-items .item-links-bold {
    font-weight: 400;
}

.navbar-items .icon-links-mod {
    font-size: 1.8rem;
    margin: 0px 4px;   
}

.no-pointer {
    color: var(--white-color);
    cursor: text;
}

/* Header QR Code */

.navbar-items-qrcode {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.navbar-items-qrcode .qrcode-img {
    width: 100%;
}

.navbar-items-qrcode .qrcode-app {
    display: flex;
    justify-content: space-between;
}

.qrcode-app .qrcode-link:nth-child(1) {
    margin-left: 11px;
}

.qrcode-app .qrcode-link:nth-child(2) {
    margin-left: 11px;
}

.qrcode-link .qrcode-app-download {
    height: 34px;
}

/* Notification */

.item-noti {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: itemNotiAnimation ease-in 0.2s;
    display: none;
}

.item-noti::before {
    content: "";
    border: 20px solid;
    border-width: 20px 26px;
    position: absolute;
    border-color: transparent transparent #fff transparent;
    right: 4px;
    top: -28px;
}

.item-noti::after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes itemNotiAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.noti-header {
    height: 40px;
    background: var(--white-color);
    user-select: none;
}

.noti-header h3 {
    color: var(--text-color);
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    opacity: 0.6;
}

.noti-list {
    padding-left: 0;
}

.noti-items {
    display: flex;
}

.noti-items:hover {
    background-color: #f1f1f1;
}

.noti-link {
    display: flex;
    padding-left: 12px;
    text-decoration: none;
    width: 100%;
    padding-bottom: 12px;
    align-items: center;
}

.noti-img {
    width: 48px;
    object-fit: contain;
    margin-top: 12px;
}

.noti-info {
    margin-left: 12px;
}

.noti-info-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.noti-info-description {
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6rem;
    opacity: 0.8;
}

.noti-button {
    text-align: center;
}

.noti-btn {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 16px;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Modal */

.modal-form {
    width: 500px;
}

.modal-form-container {
    padding: 0 32px;
}

.modal-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.regis-heading {
    font-size: 2.0rem;
    font-weight: 400;
    color: var(--text-color);
}

.regis-switch-btn {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--primary-color);
    cursor: pointer;
}

/* .modal-form-body {
    
} */

.regis-form-input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.modal-form-policy {
    margin-top: 18px;
}

.regis-form-policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.form-policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

/* Social */

.modal-form-social {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.modal-form-social .social-facebook {
    color: #fff;
    background-color: #3a5a98;
    padding: 0 24px;
}

.social-facebook .social-icon {
    color: #fff;
    font-size: 1.6rem;
    margin: 0px 4px;
}

.modal-form-social .social-text {
    margin: 0 10px;
    line-height: 36px;
}

.modal-form-social .social-google {
    color: #fff;
    background-color: #EA4335;
    padding: 0 36px;
}

/* Help */

.modal-form-help {
    display: flex;
    justify-content: flex-end;
}

.modal-form-help-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.help-forgot {
    color: var(--primary-color);
    margin-right: 20px;
}

/* Header with search */

.header-with-search {
    height: 77px;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 200px;
}

/* .header-logo-link {

} */

.header-logo-img {
    width: 170px;
}

.header-search {
    height: 40px;
    background-color: #fff;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header-search .header-search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header-search .header-search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
    color: #ccc;
}

.header-search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
}

.header-search-select-text {
    font-size: 1.4rem;
    color: #ee4d2d;
}

.header-search-select-icon {
    font-size: 1.4rem;
    color: #ee4d2d;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header-search-btn {
    background-color: #ee4d2d;
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header-search-btn:hover {
    background-color: #ff7155;
    cursor: pointer;
}

.header-search-btnicon {
    font-size: 1.4rem;
    color: #fff;
}

.header-search-select:hover .header-search-option {
    display: block;
}

.header-search-option {
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    list-style: none;
    box-shadow: 0px 2px 3px #ccc;
    border-radius: 2px;
    padding-left: 0;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header-search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header-search-option-item {
    background-color: #fff;
    padding: 8px 8px;
}

.header-search-option-item:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.header-search-option-item span {
    font-size: 1.4rem;
    color: #ee4d2d;
    padding-left: 8px;
}

.header-search-option-item i {
    font-size: 1.2rem;
    color: #ee4d2d;
    margin-left: 12px;
}

.header-search-input:focus ~ .header-search-history {
    display: block;
    z-index: 1;
}

/* Search history */
.header-search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: #fff;
    border-radius: 2px;
    box-shadow:  0px 2px 3px #ccc;
    display: none;
    overflow: hidden;
}

.header-search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
}

.header-search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 0;
}

.header-search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header-search-history-item:hover {
    background-color: #f3f3f3;
}

.header-search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: #333;
    display: block;
}

/* Cart */

.header-cart {
    width: 150px;
    text-align: center;
}

.header-cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header-cart-icon {
    color: #fff;
    font-size: 2.4rem;
    margin-top: 6px;
}

.header-cart-wrap:hover .header-cart-list {
    display: block;
    z-index: 1;
}

.header-cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 1px;
    background-color: #fff;
    width: 400px;
    border-radius: 2px;
    box-shadow:  0px 2px 3px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header-cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -23px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent #fff;  
}

.header-cart-list-empty-img {
    width: 54%;
}

.header-cart-list-empty {
    padding: 24px 0;
}

.header-cart-list-empty-text {
    display: block;
    font-size: 1.4rem;
    margin-top: 14px;
    color: #333;
}

/* Body */

.body {
    background-color: #f5f5f5;
}

.category {
    background-color: #fff;
    border-radius: 2px;
}

.category-heading {
    color: #333;
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category-heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category_list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

/* .category-item {

} */

.category-item-active .category-item-link {
    color: #ee4d2d;
}

.category-item-active .category-item-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(calc(-50% - 1px));
    border: 4px solid;
    border-color: transparent transparent transparent #ee4d2d;
}

.category-item-link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 4px 16px;
    color: #333;
    position: relative;
    transition: right linear 0.1s;
    right: 0;
}

.category-item-link:hover {
    right: -4px;
    color: #ee4d2d;
}

/* Body filter */

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
}

.home-filter-label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter-btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: #fff;
}

.home-filter-page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.filter-page-number {
    font-size: 1.4rem;
    color: #333;
    margin-right: 22px;
}

.filter-page-current {
    color: #ee4d2d;
}

.home-filter-page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter-page-btn {
    display: flex;
    flex: 1;
    background-color: #fff;
    text-decoration: none;
}

.home-filter-page-btn-disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter-page-btn-disable .home-filter-page-icon {
    color: #ccc;
}

.home-filter-page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter-page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product items */

.home-product {
    margin-bottom: 12px;
}

.home-product-item {
    display: block;
    background-color: #fff;
    margin-top: 12px;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1;
    text-decoration: none;
}

.home-product-item:hover {
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   

.home-product-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #333;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item-price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item-action {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0;
}

.home-product-item-info {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;
}

.product-item-info-brand {

}

.product-item-info-origin {

}

.product-item-price-current {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-item-price-sale {
    font-size: 1.6rem;
    color: #ee4d2d;
    margin-left: 10px;
}

.product-item-action-like {
    font-size: 1.4rem;
    color: #ccc;
}

.product-item-action-liked-icon {
    display: none;
    color: #ee4d2d;
}

.product-item-action-liked .product-item-action-liked-icon {
    display: inline-block;
}

.product-item-action-liked .product-item-action-like-icon {
    display: none;
}

.product-item-action-rate {
    color: #ccc;
    margin: -1px 0 0 auto;
}

.product-item-action-sold {
    font-size: 1.2rem;
    color: #333;
    margin-left: 6px;
}

.home-product-item-favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #fff;
    background-color: #ee4d2d;
    line-height: 1.6rem; 
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item-favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid #ee4d2d;
    border-left: 4px solid transparent;
    filter: brightness(70%);
}

.home-product-item-favorite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item-sale {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 40px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.home-product-item-sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.product-item-sale-percent {
    color: #ee4d2d;
}

.product-item-sale-text {
    color: #fff;
}

.home-product-pagination {
    margin: 48px 0 32px 0; 
}

/* Footer */

.footer {
    border-top: 4px solid #ee4d2d;
}

/* Footer */

.footer {
    padding-top: 12px;
    border-top: 4px solid #ee4d2d;
}

.footer-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #333;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: block;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item-link:hover {
    color: #ee4d2d;
}

.footer-item-icon {
    font-size: 1.7rem;
    margin: -1px 8px 0 0;
}

.footer-download {
    display: flex;
}

.footer-download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid #dbdbdb;
}

.footer-download-app {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-download-app-img {
    height: 16px;
}

.footer-download-app-link {
    text-decoration: none;
}

.footer-copyright {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer-copyright-text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}